/* General styling for body */
body {
  text-align: center;
  background-color: #011f3f;
}

/* Title styling */
#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 2%;
  color: #fef2bf;
}
h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 2%;
  color: #fef2bf;
}

/* Center the button container */
.container {
  display: block;
  width: 50%;
  margin: 5% auto;
}

/* General styling for game buttons */
.btn {
  margin: 10px 20px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid rgba(255, 255, 255, 0.712);
  border-radius: 20%;
}

/* Styling for game over state */
.game-over {
  background-color: red;
  opacity: 0.8;
}

/* Button colors */
.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

/* Button pressed animation */
.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}